html * {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.constraint {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;

}
.container {
  display: grid;
}

a {
  text-decoration: none;
  color: #000;
}

.page-header {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 40px;
  grid-template-areas:
    "header-logo header-nav"
}
.page-header .gitm {
  align-self: center;
}
.page-header .logo-holder {
  /*text-align: center;*/
  grid-area: header-logo;
}
.page-header nav {
  grid-area: header-nav;
  justify-self: end;
  text-transform: uppercase;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0
}
nav ul li {
  display: inline-block;
  margin: 0 4px;
}

.logo-holder {
  font-weight: bold;
  text-transform: uppercase;
}

main {
}

footer {
}
